.banner {
    background-image: url("pizzabg.jpg");
    height: 100vh;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;

}

.banner-image {
    transform: translateX(-100%);
    background-color: #3498db;
}


.right {
    transform: translateX(100%);
    background-color: #2ecc71;
}

.about-banner:hover .banner-image {
    transform: translateX(0);
    opacity: 1;
}

.about-banner:hover .right {
    transform: translateX(0);
    opacity: 1;
}

.about-banner,
.right {
    opacity: 1;
    transform: translateX(0);
    /* default state */
    transition: all 1.5s ease-out;
}


.bannertext {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    height: 100vh;
    text-align: left;
}

.bannertext h1 {
    color: #ffd700;
    font-size: 3vw;
    margin-left: 10vw;
}

.bannertext h2 {
    font-size: 3vw;
    margin-left: 1vw;
}

.bannertext .pizza-recipe {
    margin-left: 8vw;
}

.order {
    margin-left: 13vw;
}