 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


 .contact-heading {

     text-decoration: underline;
     font-size: 50px;
     text-underline-offset: 1.5rem;
     text-decoration-thickness: 1px;
     font-family: "Dancing Script", cursive;

 }

 .parent {

     min-height: 100vh;
     margin-top: 80px;

 }

 .icon {
     background-color: orange;
     text-align: center;
     font-size: 20px;
     padding: 10px;
     color: black;
 }

 .submit-btn {
     background-color: orange;
     border-radius: 10px;
     padding: 10px;
     color: black;
     margin-left: 250px;

 }